spring:
  datasource:
    url: postgresql://walletdb_j2f3_user:K7SHI1yGOzbLOC0WMegA6GmSMMSWoO9i@dpg-d633nv4r85hc73f0ijq0-a/walletdb_j2f3
    username: walletdb_j2f3_user
    password: K7SHI1yGOzbLOC0WMegA6GmSMMSWoO9i
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 300000
      max-lifetime: 900000
      pool-name: WalletHikariPoolProd
      auto-commit: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

server:
  port: ${PORT:8080}

logging:
  level:
    root: INFO
    com.game.wallet: INFO