spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/wallet
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 15
      minimum-idle: 3
      connection-timeout: 30000
      idle-timeout: 300000
      max-lifetime: 1200000
      pool-name: WalletHikariPoolDocker
      auto-commit: true

server:
  port: 8080